<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :positive %><br />
    <%= f.number_field :positive %>
  </div>
  <div class="field">
    <%= f.label :negative %><br />
    <%= f.number_field :negative %>
  </div>
  <div class="field">
    <%= f.label :created_date %><br />
    <%= f.date_select :created_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
