
<ul class="breadcrumb">
  <li><a href="/ideas/">Ideas </a><span class="divider">/</span></li>
  <li class="active">List</li>
</ul>

<table class="table  table-striped">
  <tr>
    <th>Title</th>
    <th class="responsive-hide">Positive</th>
    <th class="responsive-hide">Negative</th>
    <th class="responsive-hide">Status</th>
    <th class="responsive-hide">Created date</th>
    <th></th>
  </tr>

  <% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.title %></td>
    <td class="responsive-hide"><%= idea.positive %></td>
    <td class="responsive-hide"><%= idea.negative %></td>
    <td class="responsive-hide">
        <%= status_label(idea.status, idea.get_status_label) %>
    </td>
    <td class="responsive-hide"><%= idea.created_date %></td>
    <td>
      <div class="btn-group">
        <%= link_to idea, :class => 'btn btn-small', :title => 'show' do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to edit_idea_path(idea), :class => 'btn btn-small', :title => 'edit' do %>
          <i class="icon-pencil"></i>
        <% end %>
        <%= link_to idea, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger', :title => 'delete'  do %>
        <i class="icon-trash"></i>
       <% end %>
      </div>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to 'New Idea', new_idea_path, :class => 'btn btn-success' %>

