<ul class="breadcrumb">
  <li><a href="/ideas/">Ideas </a><span class="divider">/</span></li>
  <li class="active">Show</li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @idea.title %>
</p>

<p>
  <b>Description:</b>
  <%= @idea.description %>
</p>

<p>
  <b>Positive:</b>
  <%= @idea.positive %>
</p>

<p>
  <b>Negative:</b>
  <%= @idea.negative %>
</p>

<p>
  <b>Status:</b>
  <%= @idea.get_status_label %>
</p>

<p>
  <b>Created date:</b>
  <%= @idea.created_date %>
</p>



<div class="form-actions">
  <%= link_to 'Edit', edit_idea_path(@idea), :class => 'btn btn-primary' %>
  <%= link_to 'Back', ideas_path, :class => 'btn' %>
</div>