
<% @ideas.each_with_index do |idea, index| %>
	<% if (index == 0) || ((index) % 3 == 0) %>
	<div class="row-fluid">
	<% end %>

	<div class="span4">
		<div class="idea" data-idea="<%= idea.id %>" data-positive="<%= idea.percentPositive() %>" data-negative="<%= idea.percentNegative() %>">
			<div class="idea-content">
				<!-- User logo -->
				<img class="img-polaroid user-img"  src="http://gravatar.com/avatar/2d62e386c079f824fe7f0c8e8e83128b?s=140" />
				<!-- Idea content -->
				<h3><a href=""><%= idea.title %></a></h3>
				<p><%= idea.description %></p>
				<div class="clear"></div>
				<div class="group-comments">
					<div class="comment">
						<a class="btn btn-success btn-mini button-thumbs disabled" href="#" disabled>
							<i class="icon-thumbs-up"></i>
						</a>
						<img class="img-polaroid user-img"  src="http://gravatar.com/avatar/2d62e386c079f824fe7f0c8e8e83128b?s=140" />
						<p>I liked. We should try it.</p>
						<div class="clear"></div>
					</div>


					<div class="comment">
						<a class="btn btn-danger btn-mini button-thumbs disabled" href="#" disabled>
							<i class="icon-thumbs-down"></i>
						</a>
						<img class="img-polaroid user-img"  src="http://gravatar.com/avatar/2d62e386c079f824fe7f0c8e8e83128b?s=140" />
						<p>I don't know. Japanese is too hard.</p>
						<div class="clear"></div>
					</div>
				</div>

				<div class="percentage-votes-values">
					<ul>
						<li><i class="icon-thumbs-down"></i> <%= idea.percentNegative() %>%</li>
						<li><i class="icon-thumbs-up"></i> <%= idea.percentPositive() %>%</li>
					</ul>
				</div>
			</div>
			<a href="#" class="percentage-votes-bar">
				<span class="percentage-vote btn-danger" style="width:<%= idea.percentNegative() %>%;">
					<%= idea.percentNegative() %>
				</span>
				<span class="percentage-vote btn-success" style="width:<%= idea.percentPositive() %>%;">
					<%= idea.percentPositive() %>
				</span>
			</a>
		</div>
		

		<!-- Buttons thumbs 
		<a class="idea-like btn btn-success button-thumbs" href="#">
			<i class="icon-thumbs-up"> <%= idea.positive %></i>
		</a>
		<a class="idea-unlike btn btn-danger button-thumbs" href="#">
			<i class="icon-thumbs-down"> <%= idea.negative %></i>
		</a>-->
	</div>

	<% if (index == @ideas.size - 1 ) || ((index + 1) % 3 == 0) %>
	</div>
	<% end %>
<% end %>
