<!DOCTYPE html>
<html>
<head>
	<title>Bravi Ideas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<header id="header-main">
			<%= link_to(root_path) do %>
				<h2>Bravi Ideas</h2>				
			<% end %>			
			<span>Share your ideas. You could change the world.</span>
		</header>
		
		<%= yield %>
		
		<footer id="footer-main">
			<span>Bravi Software - 2013</span>
		</footer>
	</div>

</body>
</html>